* {
    background-image: url("../images/background-light-saber.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: red;
}

.player-icon {
    /* width: 200px; */
    height: 100px;
}
